<nav class="navbar navbar-expand-lg navbar-light fixed-top py-5 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="~/public/assets/img/logo.svg" height="34" alt="logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
                <li class="nav-item px-3 px-xl-4">
                    <a class="nav-link fw-medium" aria-current="page" href="#service" data-i18n="services">Hizmetlerimiz</a>
                </li>
                <li class="nav-item px-3 px-xl-4">
                    <a class="nav-link fw-medium" aria-current="page" href="#destination" data-i18n="locations">Lokasyonlar</a>
                </li>
                <li class="nav-item px-3 px-xl-4">
                    <a class="nav-link fw-medium" aria-current="page" href="#testimonial" data-i18n="testimonials">Yorumlarımız</a>
                </li>
                <li class="nav-item px-3 px-xl-4">
                    <a class="nav-link fw-medium" aria-current="page" href="#booking" data-i18n="more_info">Daha Fazlası İçin</a>
                </li>
                <li class="nav-item px-3 px-xl-4">
                    <a class="nav-link fw-medium" aria-current="page" href="/Auth/Login" data-i18n="login">Giriş Yap</a>
                </li>
                <li class="nav-item px-3 px-xl-4">
                    <a class="btn btn-outline-dark order-1 order-lg-0 fw-medium" href="#booking" data-i18n="get_info">Bilgi Al</a>
                </li>
                <li class="nav-item dropdown px-3 px-lg-0">
                    <a class="d-inline-block ps-0 py-2 pe-3 text-decoration-none dropdown-toggle fw-medium" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="language">TR</a>
                    <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg" style="border-radius:0.3rem;" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!" data-lang="tr"><span class="fi fi-tr"></span> Türkçe</a></li>
                        <li><a class="dropdown-item" href="#!" data-lang="en"><span class="fi fi-gb"></span> English</a></li>
                        <li><a class="dropdown-item" href="#!" data-lang="fr"><span class="fi fi-fr"></span> Français</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<style>

    .flag-icon {
        display: inline-block;
        width: 1.5em;
        height: 1em;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        margin-right: 5px;
    }
</style>

